<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tomato.order.database.OrderInfoMapper">
    <insert id="insert" parameterType="orderInfoDO">
        insert into order_info
        (machine_ip, order_no, request_amount, timeout_date, pay_type, merchant_order_no,
         merchant_fee, merchant_rate, merchant_no, merchant_name, remark, notice_web, notice_sys, order_type)
        values(#{machineIp}, #{orderNo}, #{requestAmount}, #{timeoutDate}, #{payType}, #{merchantOrderNo},
               #{merchantFee}, #{merchantRate}, #{merchantNo}, #{merchantName}, #{remark}, #{noticeWeb}, #{noticeSys}, #{orderType})
    </insert>
    <update id="complete" parameterType="orderInfoCompleteDO">
        update order_info set order_status = #{orderStatus},version = version +1,complete_date = now(),pay_no = #{payNo}
                          where order_no = #{orderNo} and order_status <![CDATA[<]]> 200 and version = #{version}
    </update>
</mapper>