<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tomato.order.database.PayInfoMapper">
    <insert id="insert" parameterType="payInfoDO">
        insert into pay_info
        (order_no, pay_no, pay_type,channel_rate,channel_flag,channel_info,send_url)
        values(#{orderNo}, #{payNo}, #{payType}, #{channelRate}, #{channelFlag}, #{channelInfo}, #{sendUrl})
    </insert>

    <update id="complete" parameterType="map">
        update pay_info set pay_status = #{payStatus},version = version +1 , complete_date = now()
                        where pay_no = #{payNo} and pay_status <![CDATA[<]]> 200 and version = #{version}
    </update>
</mapper>