<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tomato.account.database.AccountHisMapper">
    <select id="selectByAccountHisId" parameterType="map" resultType="accountHisDO">
        select * from account_his where account_his_id = #{accountHisId} and account_no = #{accountNo}
    </select>

    <insert id="insert" parameterType="accountHisInsertDO">
        INSERT INTO account_his (account_no, amount, third_no, account_his_type)
        VALUES (#{accountNo},#{amount},#{thirdNo},#{accountHisType})
    </insert>

    <update id="updateAccountStatus" parameterType="accountHisUpdateDO">
        UPDATE account_his set account_status = #{accountStatus},version = version + 1,before_balance = #{beforeBalance},after_balance = #{afterBalance}
                           WHERE account_his_id = #{accountHisId} and version = #{version} and account_status = 100 and account_no = #{accountNo}
    </update>

    <select id="selectByThirdNo" parameterType="map" resultType="accountHisDO">
        select * from account_his where third_no = #{thirdNo} and account_no = #{accountNo}
    </select>

    <update id="updateAccountStatusBatch" parameterType="AccountHisUpdateBatchDO">
        UPDATE account_his set account_status = #{accountStatus},version = version + 1,before_balance = #{beforeBalance},after_balance = #{afterBalance}
        WHERE account_his_id in
        <foreach collection="accountHisId" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
         and version = #{version} and account_status = 100 and account_no = #{accountNo}
    </update>

    <select id="selectDeal" parameterType = "map" resultType = "accountHisDealDO">
        select group_concat(account_his_id) as accountHisIds,sum(amount) as sum
        from account_his
        where account_no = #{accountNo} and account_status = 100 and version = 0 and amount >0
    </select>

    <!-- 日汇总账户待结算金额  -->
    <select id="dailyCollect" parameterType="accountHisDailyCollectDO" resultType="AccountHisDailyCollectRepDO">
        select
            ifnull(sum(amount),0) as "totalAmount",
            count(1) as "totalCount"
        from account_his
        where
            account_no = #{accountNo}
            and complete_sett = 1
            and allow_sett = 0
            and <![CDATA[date(create_time) <= date_add(#{collectDate}, INTERVAL -#{riskDay} DAY)]]>
    </select>
</mapper>