<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomato.account.database.AccountDailyCollectMapper">
    <insert id="insert" parameterType="accountDailyCollectDO">
        INSERT INTO account_daily_collect (
            account_no,
            collect_date,
            total_amount,
            total_count,
            remark,
            risk_day
        ) VALUES (
            #{accountNo},
            #{collectDate},
            #{totalAmount},
            #{totalCount},
            #{remark},
            #{riskDay}
        )
    </insert>
</mapper>