<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tomato.account.database.AccountHisMapper">
    <select id="selectByAccountHisId" parameterType="map" resultType="accountHisDO">
        select * from account_his where account_his_id = #{accountHisId}
    </select>

    <insert id="insert" parameterType="accountHisInsertDO">
        INSERT INTO account_his (account_his_id, account_id, amount, third_no, account_his_type)
        VALUES (#{accountHisId},#{accountId},#{amount},#{thirdNo},#{accountHisType})
    </insert>

    <update id="updateAccountStatus" parameterType="accountHisUpdateDO">
        UPDATE account_his set account_status = #{accountStatus},version = version + 1,before_balance = #{beforeBalance},after_balance = #{afterBalance}
                           WHERE account_his_id = #{accountHisId} and version = #{version} and state = 100
    </update>

    <select id="selectByThirdNo" parameterType="map" resultType="accountHisDO">
        select * from account_his where third_no = #{thirdNo} and account_id = #{accountId}
    </select>
</mapper>