<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomato.remit.database.RemitMerchantInfoMapper">
    <select id="selectChannelByMerchantNo" parameterType="java.util.Map" resultType="java.lang.String">
        select channel_code from remit_merchant_info where merchant_no = #{merchantNo} and bind_status = 0
    </select>
</mapper>