<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tomato.skill.database.SkillActivityMapper">
    <select id="getByActivityId" resultType="skillActivityDO" parameterType="map">
        SELECT * FROM skill_activity
        WHERE activity_id = #{activityId} and state = 1 LIMIT 1
    </select>
</mapper>