<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tomato.skill.database.SkillActivityUserMapper">
    <sql id="ALL_COLUMNS">
        activity_user_id, activity_relation_id, user_id, activity_count, create_time, update_time
    </sql>

    <sql id="COMMON_SELECT">
        SELECT
        <include refid="ALL_COLUMNS"/>
        FROM skill_activity_user
    </sql>

    <insert id="create" parameterType="skillActivityUserDO">
        INSERT INTO skill_activity_user(
        <include refid="ALL_COLUMNS"/>
        ) VALUES (
        #{activityUserId},
        #{activityRelationId},
        #{userId},
        #{activityCount},
        now(),
        now()
        )
    </insert>

    <select id="getByActivityUserId" resultType="skillActivityUserDO" parameterType="map">
        SELECT * FROM skill_activity_user
        WHERE activity_user_id = #{activityUserId} LIMIT 1
    </select>

    <select id="getByUserIdAndActivityRelationId" resultType="skillActivityUserDO" parameterType="map">
        SELECT * FROM skill_activity_user
        WHERE activity_relation_id = #{activityRelationId} AND user_id = #{userId} LIMIT 1
    </select>

    <update id="updateActivityCount" parameterType="skillActivityUserDO">
        UPDATE skill_activity_user SET update_time = now(), activity_count = activity_count + 1
        WHERE activity_user_id = #{activityUserId} and activity_count <![CDATA[<]]> #{skillLimit}
    </update>

</mapper>